.layout-wrapper {
  width: 100vh;
  height: calc(100vh - 20px);
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

.layout-wrapper * {
  padding: 10px;
}

.layout-header {
  grid-area: header;
  background-color: orange;
}
.layout-main {
  grid-area: main;
  background-color: lightblue;
}
.layout-nav {
  grid-area: nav;
  background-color: aquamarine;
}

.layout-footer {
  grid-area: footer;
  background-color: orange;
}

@media (min-width: 700px) {
  .layout-wrapper {
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
      "nav header"
      "nav main"
      "nav main"
      "nav footer";
  }
  nav ul {
    flex-direction: column;
  }
}

button:hover {
  cursor: pointer;
}
